
html {
    height: 100%;
    background: linear-gradient(to bottom, #F3E1C8, #BB4646);
}

h1 {
    font: 5rem "Tw Cen MT", sans-serif;
    color: #FF6363;
}

h3 {
    font: 2rem "Microsoft Yi Baiti", sans-serif;
    color: #985A5A;
}

.container {
    margin: 15rem auto;
    text-align: center;
}

#work_description {
    opacity: 0;
    color: #FF6363;
}

#main_text {
    position: relative;
}

.page-description {
    border: 1px solid green;
    position: relative;
    bottom: 3rem;
}

.button {
    outline: none;
    transition-duration: 0.4s;
    font: 2rem "Microsoft Yi Baiti", sans-serif;
    color: #985A5A;
    background-color: inherit;
    width: 11rem;
    height: 3rem;
    border: 0.2rem solid #FF6363;
    border-radius: 10rem;
    padding-bottom: 0.4rem;
}
.button:hover {
    color: #DDD;
    background: rgba(255, 99, 99, 0.5);
}


.settings {
    position: relative;
    display: none;
    margin: 0 3rem;
    border: none;
    opacity: 0;
}

#cycles_text {
    display: none; /*change to inline-block when active */
}
